<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ddaeda">  <td>20/09/08 10:37:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIMockTests.setUp()[pri:0, instance:com.IGDemo.Tests.APIMockTests@5be6e01c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1608297024</td>   <td></td> </tr>
<tr bgcolor="ddaeda">  <td>20/09/08 10:37:21</td>   <td>2785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIMockTests.verifyAPIResponse()[pri:0, instance:com.IGDemo.Tests.APIMockTests@5be6e01c]">verifyAPIResponse</td> 
  <td>main@1608297024</td>   <td></td> </tr>
</table>
